.card-container {
    background-color: #fbe4ca;
    /* border: solid 1px black; */
    height: 400px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    box-shadow: -6px -3px 15px rgb(250, 65, 157);
}

.card-header {
    /* border: solid 1px green; */
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 60%;
}

.card-main {
    /* border: solid 1px red; */
    padding: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn:hover {
    cursor: pointer;
}

#editVacationForm {
    width: 16%;
    padding: 50px;
    position: absolute;
    left: 42%;
    top: 20%;
    background: #0d0f13;
    box-shadow: -15px -8px 50px rgb(250, 65, 157);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

#editVacationForm p,
h5 {
    color: #46c8e6;
}

#editVacationForm input,
.button {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    padding: 3px 10px;
    margin: 1px;
}

#editVacationForm span {
    margin-left: 10px;
    color: #46c8e6;
    font-size: 10px;
    font-style: italic;
}

.btn-close {
    position: relative;
    left: 50%;
    top: 30%;
    background-color: #fbe4ca;
    box-shadow: -6px -3px 50px rgb(250, 65, 157);
}